#showcase .showcase-content h1 {
    font-size: 2rem;
}

.portfolio_container_nav {
    flex-direction: column;
    margin-bottom: 2rem;
}

.portfolio_heading {
    margin-bottom: 2rem;
    align-self: flex-start;
}

.default_container_card {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    justify-content: center;
}

.portfolio_nav ul {
    flex-shrink: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.portfolio_nav ul li {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 426px) {

    #showcase .showcase-content h1 {
        font-size: 1.5rem;
    }

    .services_cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .whois_content {
        grid-template-columns: 1fr;
    }

    .contact_heading {
        margin-bottom: 2.5rem;
    }

    .contact_form {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }

    .text_area_form {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 426px) {

    .services_heading {
        margin-bottom: 2rem;
    }

    .services_heading h2,
    .default_heading h2,
    .twitter_top_left h2,
    .whois_heading h2,
    .testimonials_top_left h2,
    .contact_heading h2 {
        font-size: 2rem;
    }

    .portfolio_heading h2 {
        font-size: 2rem;
    }

    .default_left_content p {
        font-size: .8rem;
    }

    .btn-primary {
        display: inline-block;
        font-size: .5rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 1.5rem;
        border: 2px solid var(--maya-blue);
        color: var(--maya-blue);
    }

    .twitter_detail p,
    .testimonials_detail p {
        font-size: 1.4rem;
    }

}
