body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
}

.heading-primary {
    color: $white;
    text-transform: uppercase;

    backface-visibility: hidden;
    /* use for fix text move on top */

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;

        animation: moveInLeft 2s;
    }

    &--sub {
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 1rem;

        animation: moveInRight 2s;
    }
}